<div>
    <img style='height:auto; width:auto' src="cid:unique4@nodemailer.com" alt='logo' />
    {{!-- src='/public/Anotación 2020-07-30 172748.png' --}}
    <div style='width:auto'>
        <p style='text-align:left !important'>
            <b>Hola {{influencerUserName}}</b>
        </p>
        <p>
            {{companyName}} ha rechazado su recomendación para la oferta {{jobName}}<br />
            Nombre de la persona recomendada:{{recommendedFirstName}}<br />
            Email de la persona : {{recommendedEmail}}<br />
            Si tienes cualquier pregunta no dudes en ponerte en contacto con nosotros.
        </p><br />
        <p>
            Un saludo, el equipo de Gamanfy
        </p>
    </div>
</div>